<ion-header>
  <ion-toolbar>
    <ion-title>Top Stories 1</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        id="btnShowLogin"
        routerLink="/login"
        *ngIf="!(loggedIn$ | async)"
        >Log In</ion-button
      >
      <ion-button
        id="btnShowFavorites"
        routerLink="/favorites"
        *ngIf="loggedIn$ | async"
        >Favorites</ion-button
      >
      <ion-button id="btnLogout" (click)="logout()" *ngIf="loggedIn$ | async">
        <ion-avatar>
          <img slot="icon-only" [src]="getPhotoURL(user$ | async)" />
        </ion-avatar>
        Log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <h1>Items:)</h1>
      {{ items$ }}
      <ul>
        <li *ngFor="let item of items$ | async">"Item: " {{ item }}</li>
      </ul>
    </ion-row>
  </ion-grid>
  <!-- <app-items
    [items]="items$ | async"
    (toOpen)="openUrl($event)"
    (toShare)="share($event)"
  ></app-items> -->
  <ion-infinite-scroll (ionInfinite)="load($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
