<ion-header>
  <ion-toolbar>
    <ion-title>Top Stories</ion-title>
    <ion-buttons slot="secondary">
      <ion-button
        id="btnShowLogin"
        routerLink="/login"
        *ngIf="!(loggedIn$ | async)"
        >Log In</ion-button
      >
      <ion-button
        id="btnShowFavorites"
        routerLink="/favorites"
        *ngIf="loggedIn$ | async"
        >Favorites</ion-button
      >
      <ion-button id="btnLogout" (click)="logout()" *ngIf="loggedIn$ | async">
        <ion-avatar>
          <img slot="icon-only" [src]="getPhotoURL(user$ | async)" />
        </ion-avatar>
        Log out
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>
      If you get lost, the
      <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/"
        >docs</a
      >
      will be your guide.
    </p>
  </div>

  <ion-button (click)="load($event)">Load</ion-button>
  <ion-button (click)="refresh($event)">Refresh</ion-button>
  <ion-button (click)="showItems()">Items</ion-button>
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  Teste Teste1 Teste2
  <app-items [items]="items$ | async">App Items</app-items>

  <div *ngFor="let item of items1$">
    <div>{{ item }}</div>
  </div>

  <ion-infinite-scroll (ionInfinite)="load($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
 -->

<ion-content>
  <ion-refresher slot="fixed" [disabled]="false" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-button (click)="showItems()">Items</ion-button>
  <app-items
    [items]="items$ | async"
    (toOpen)="openUrl($event)"
    (toShare)="share($event)"
    >AppItems</app-items
  >
  <ion-infinite-scroll (ionInfinite)="load($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
